* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

/* Голубой цвет для прелоадера */
.progress {
  background-color: #82b1ff;
}

.progress .indeterminate {
  background-color: #2962ff; 
}

.btn {
  background-color: #82b1ff;
}

.btn:hover {
  background-color: #448aff;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}


